body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
  color: #333;
  --primary: #146405;
  --primary-dark: #0f3c05;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;
  white-space: nowrap;
  line-height: 1;
}

.logo__main-kinzig {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.logo__nerds {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1.4em;
}

.logo__nerds:before {
  content: '<';
}

.logo__nerds:after {
  content: '/>';
}

.page {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0;
  width: 100%;
  max-width: calc(1000px - 2rem);
  padding: 0 2rem;
}

.tagline {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.main,
.tagline {
  margin-top: 3rem;
  text-align: center;
}

.cta {
  display: block;
  background-color: var(--primary);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.cta:active,
.cta:focus,
.cta:hover {
  background-color: var(--primary-dark);
}

@media (min-width: 768px) {
  .cta {
    display: inline-block;
  }
}

@media (min-width: 425px) {
  .logo {
    font-size: 3rem;
  }
  .cta,
  .tagline {
    font-size: 1.25rem;
  }
}
