@import '../base';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 4rem !important;
  height: 4rem !important;
}

.message {
  margin-top: $spacer;
}
